*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
index.html
img/
css/ima*
css/jq*
css/my*
js/*mobile*
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# Tizen
.build
tizen-*
.rds_delta
.sdk_delta.info
*.wgt
